name: test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [main]
        php-versions: ['8.1','8.2','8.3', '8.4']
      max-parallel: 1

    steps:

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: "Check PHP Version"
        run: php -v

      - name: "Check Composer Version"
        run: composer -V

      - name: "Checkout Project files"
        uses: actions/checkout@v4

      - name: Create .env.test file
        run: |
          echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> .env.test
          echo "AWS_ENDPOINT_URL=${{ secrets.AWS_ENDPOINT_URL }}" >> .env.test
          echo "AWS_S3_BUCKET_NAME=${{ secrets.AWS_S3_BUCKET_NAME }}" >> .env.test
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> .env.test
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> .env.test

      - name: "Build instance"
        run: |
          composer install

      - name: "PHPUnit Tests"
        run: ./vendor/bin/phpunit --configuration=phpunit.xml

      - name: "phpstan Tests"
        run: composer run-script phpstan
